Django==2.0
django-cors-headers==2.2.0
django-crispy-forms==1.7.0
django-filter==1.1.0
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
packaging==17.1
Pillow==4.3.0
Pillow-PIL==0.1.dev0
pkginfo==1.4.1
psycopg2==2.7.3.2
PyJWT==1.5.3
pyparsing==2.2.0
PyPDF2==1.26.0
pyqtgraph==0.10.0
python-dateutil==2.6.1
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
requests-toolbelt==0.8.0